RAILS_ENV=development

MAILER_SENDER="LINSA FITNESS"
MAILER_USERNAME="phuongtay2000@gmail.com"
MAILER_PASSWORD=""
DATABASE_URL=postgresql://postgres.user_name:password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
