<h2 class="text-gray-700 dark:text-gray-200">Hi admin,</h2>

<p class="mt-2 leading-loose text-gray-600 dark:text-gray-300">
  There a new guest, name: <%= @guest.name %>
</p>

<button class="px-6 py-2 mt-8 text-sm font-medium tracking-wider text-white capitalize transition-colors duration-300 transform bg-primary-600 rounded-lg">
  Login
</button>
