<div class="bold text-4xl mt-8">
  <%= @board.title %>
</div>

<ul class="flex gap-4 overflow-auto w-full py-4 pr-2">
  <% @lists.each do |list| %>
    <li class="w-72 h-fit p-2 border rounded-md">
      <%= list.title %>
      <ul>
        <% list.cards.each do |card| %>
          <li class="min-w-72 h-fit p-2 border rounded-md bg-gray-100">
            <%= card.title %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <li class="min-w-72 h-fit p-2 border rounded-md bg-gray-100">
    <%= link_to t(".new_list"), "#", class: "inline-block font-medium align-middle" %>
  </li>
</ul>
