<div class="group relative"
     data-controller="dropdown"
     data-dropdown-enter-class-value="ease-out duration-100 opacity-100 scale-100 pointer-events-auto"
     data-dropdown-leave-class-value="ease-in duration-75 opacity-0 scale-95 pointer-events-none"
     data-dropdown-active-value="false" data-dropdown-type-value="hover"
>
  <%= content_tag href.present? ? :a : :p, name, class: "cursor-pointer hover:opacity-[0.9] text-white", href: href %>
  <div class="pointer-events-none absolute left-1/2 transition transform opacity-0 scale-95 -translate-x-1/2 pt-4 z-40"
       data-dropdown-target="target"
       role="menu"
       aria-orientation="vertical"
       aria-labelledby="menu-button"
       tabindex="-1"
  >
    <%= children %>
  </div>
</div>
