<!DOCTYPE html>
<html>
<%= render "layouts/shared/head" %>
<body>
<%= render "shared/flash_container" %>
<%= render "layouts/application/nav" %>

<main class="p-4 md:ml-64 h-auto pt-20">
  <%= yield %>
</main>
</body>
</html>
